.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 92vmin;
  height: 92vmin;
  padding: calc(100% / 48);
  background-color: burlywood;
  background-image: repeating-linear-gradient(#000 0, #000 1px, #0000 1px, #0000 calc(100% / 16)),
    repeating-linear-gradient(90deg, #000 0, #000 1px, #0000 1px, #0000 calc(100% / 16));
  animation: spin 0s infinite linear;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 15);
  height: calc(100% / 15);
}

.stone {
  width: calc(90%);
  height: calc(90%);
  background-color: white;
  border-radius: 50%;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}
